.footer__column-link{
  margin: 0 0 auto 0;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  padding: 0;
  font-weight: normal;
}
.footer__column-link:hover{

  border: dashed white;
  opacity: .3;
  border-radius: 40px;
  transition: opacity 0.3s ease-in-out 0.01ms;
  transition: border 0.3s ease-in-out 0.01ms;
}
