@import url(./__img/feynman__img.css);
@import url(./__link/feynman__link.css);
@import url(./__title/feynman__title.css);
@import url(./__subtitle/feynman__subtitle.css);

.feynman{
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  padding-top: 80px;
  min-height: 790px;
  flex-direction: column;
  box-sizing: border-box;
}






