
.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link:hover{

  background-color: #2f80ed5a;
  border: dashed #2f80ed;
  opacity: 60%;
  border-radius: 40px;
  transition: background-color 0.3s ease-in-out 0.01ms;
  transition: border 0.3s ease-in-out 0.01ms;
}
