.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
}
.header__link{
  color: #2f80ed;
  text-decoration: none;
}

.header__link:hover{
  outline: auto #2f80ed;
  background: #2f80ed5a;
}
.logo_place_header{
  height: 32px;
  width: 183px;
  position: absolute;
  top: 30px;
  left: 64px;
}


.header__title{
  width: 730px;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  display: flex;
  align-items: center;
  margin-left:  64px;
  z-index: 2;
}


.header__subtitle{
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.header__square-pic{
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;

}

.header__main-illustration{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.description{
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;

}
.two-columns{
  list-style: none;
  margin-top:100px;
  margin-bottom: 100px;
  display: flex;
  width: 80%;
  justify-content: space-between;
  flex-direction: row;
}
.two-columns__brief{
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
  color: #2f80ed;
  margin: 0;
}
.two-columns__brief:last-child{
  margin: 0;
}
.two-columns__span-accent{

  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
  margin: 0;
}

.digits{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digits__title{

  width: 60%;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.digits__subtitle{

  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}


.table{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:0 auto 0 auto;
  width: 1100px;
  flex-wrap: wrap;
}

.table__cell{
  display: flex;
  width: 250px;
  margin: 60px 0 0 0;
  flex-wrap: wrap;
}

.table__heading{
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text{
  margin:0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman{
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  padding-top: 100px;
  min-height: 790px;
  flex-direction: column;
}

.feynman__img{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  z-index: 1;
}

.feynman__title{
  text-align: center;
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  z-index: 2;
  margin: 0 auto 0 auto;
}

.feynman__subtitle{
  margin: 70px auto 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 2;
}

.feynman__link{
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__link :hover{
  outline: auto #2f80ed;
  background: #2f80ed5a;
}
.kaufman{
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.kaufman__title{

  width: 60%;
  margin: 0 0 20px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.kaufman__subtitle{

  width: 60%;
  margin: 0;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.table_theme_dark{
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  margin:0 auto 90px auto;
  width: 1100px;
  flex-wrap: wrap;
  color: white;
}

.table__heading_theme_dark{
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: white;
  z-index: 1;
}

.table__text_theme_dark{
  margin:0 0 20px 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: white;
  z-index: 1;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman__title_theme_dark{
  color: white;
  z-index: 1;
  margin: 90px 0 0 0;
}

.kaufman__subtitle_theme_dark{
  color: white;
  z-index: 1;
}

.kaufman__triangle{
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
  position: absolute;
  right: -210px;
  top: 0;
  z-index: 0;
  width: 877px;
  height: 877px;
}

.footer{
  display: flex;
  min-height: 350px;
  background-color: #1f1f1f;
}

.footer__columns{
  display: flex;
  margin: 60px auto 40px auto;
  width: 90%;
  justify-content: space-between;
  list-style: none;
}

.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column-links{
  list-style: none;
  margin: 0;
  color: white;
  text-decoration: none;
}

.logo_place_footer
{
  display: flex;
}

.footer__author{
  margin: 18px 0 18px 0;
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_social{
  list-style: none;
  margin: 0;
}


.footer__column-heading{
  color: white;
  margin: 0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer__social-icon{
  background-size: 16px 16px;
  height: 16px;
  width: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0 10px auto 0;
  color: white;
  text-decoration: none;
}
.footer__social-icon :hover{
  outline: auto gray;
  background: #80808069;
}

.footer__column-link{
  margin: 0 0 auto 0;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
.footer__column-link :hover{
  outline: auto gray;
  background: #80808069;
}

