.khan__buy-link
{
  display: flex;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color:  #2f80ed;
  object-position: top;
  text-decoration: none;
}
.khan__buy-link:hover{
  border: dashed #2f80ed;
  opacity: .3;
  border-radius: 40px;
  transition: opacity 0.3s ease-in-out 0.01ms;
  transition: border 0.3s ease-in-out 0.01ms;
}
