.khan__buy-link
{
  display: flex;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
  color:  #2f80ed;
  object-position: top;
}
.khan__buy-link:hover{
  outline: auto #2f80ed;
  background: #2f80ed5a;
}
